

body {
  margin: 0;
  background-color: #f5f1e5;
  /* height: 100vh; */
}
.App {
  background-color: #f5f1e5;
  height: 100vh;
}
/* div {
  background-color: #f5f1e5;
  width: 100vw;
  height: 100vh;
} */