@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-right: 8rem;
  margin-left: 8rem;
}
.feed-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Bungee Shade';
  font-size: 35px;
  margin-bottom: 4rem;
}
#feed-image {
  max-width: 45vw;
  height: 57vh;
  object-fit: cover;
  border-radius: 15px;
  border: 0.8px solid #A3C4A7;
  transition: 0.2s ease-in-out;
}
#feed-image:hover {
  transform: scale(1.05);
}
#feed-user {
  font-family: 'Anonymous Pro', monospace;
  font-style: italic;
  color:black;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 970px) {
  .feed {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  #feed-image {
    max-width: 35vw;
    height: 47vh;
  }
}
@media only screen and (max-width: 800px) {
  #feed-image {
    max-width: 25vw;
    height: 37vh;
  }
}
@media only screen and (max-width: 750px) {
  .feed {
    display: flex;
    flex-direction: column;
  }
  #feed-image{
  max-width: 35vw;
  height: 47vh;
  }
}
@media only screen and (max-width: 650px) {
  #feed-image{
    max-width: 40vw;
    height: 52vh;
  }
}
@media only screen and (max-width: 500px) {
  #feed-image{
    max-width: 50vw;
    height: 42vh;
  }
}
@media only screen and (max-width: 414px) {
  .feed-title {
font-size: 22px;
  }
  #feed-image{
    max-width: 55vw;
    height: 35vh;
  }
}