@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-right: 8rem;
  margin-left: 8rem;
}
.feed-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Bungee Shade';
  font-size: 35px;
  margin-bottom: 4rem;
}
#feed-image {
  max-width: 45vw;
  height: 57vh;
  object-fit: cover;
  border-radius: 15px;
  border: 0.8px solid #A3C4A7;
  transition: 0.2s ease-in-out;
}
#feed-image:hover {
  transform: scale(1.05);
}
#feed-user {
  font-family: 'Anonymous Pro', monospace;
  font-style: italic;
  color:black;
  margin-bottom: 2rem;
}
