@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

#section-two{
  margin-bottom: 10rem;
}
#post-instructions{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 2rem;
  padding-left: 2rem;
}
.instructions{
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 28px;
  font-family: 'Bungee Shade';
  letter-spacing: 2.5px;
  margin-bottom: 2rem;
  /* position: absolute; */
}
#leaf {
  width: 15vh;
  height: 15vh;
  margin-bottom: 3rem;
}
.card-one{
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  /* background-color: #f5f1e5; */
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 2px 0.4em #44714A;
  margin-right: 2rem;
  max-width: 22vw;
}
.card-two{
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 2px 0.4em #44714A;
  margin-right: 2rem;
  max-width: 22vw;
}
.card-three{
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 2px 2px 0.4em #44714A;
  max-width: 22vw;
}
.step-1{
  font-size: 26px;
  font-family: 'Anonymous Pro', monospace;
  padding-right: 10px;
  margin-left: 1.5rem;
}
.one{
  font-size: 22px;
  font-family: 'Anonymous Pro', monospace;
  letter-spacing: 1px;
  /* text-align: center; */
  padding-right: 3rem;
  margin-top: 3rem;
}
.step-2{
  font-size: 26px;
  font-family: 'Anonymous Pro', monospace;
  padding-right: 10px;
  margin-left: 1.5rem;
}
.two{
  font-size: 22px;
  font-family: 'Anonymous Pro', monospace;
  /* text-align: center; */
  padding-right: 3rem;
  margin-top: 3rem;
}
.step-3{
  font-size: 26px;
  font-family: 'Anonymous Pro', monospace;
  padding-right: 10px;
  margin-left: 1.5rem;
}
.three{
  font-size: 22px;
  font-family: 'Anonymous Pro', monospace;
  /* text-align: center; */
  padding-right: 3rem;
  margin-top: 3rem;
}