@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  justify-content: center;
  width: 100vw;
  background-color: #FAF7EF;
  top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-style: double bottom;
  border-bottom: 3px solid #44714A;
}
.maison {
  display: flex;
  flex-direction: start;
  padding-left: 5vw;
  font-family: 'Bungee Shade';
  font-size: 40px;
  text-decoration: none;
  color: #A3C4A7;
}
.link {
  font-family: 'Anonymous Pro', monospace;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: black;
  display: inline-block;
  padding-right: 3vw;
}
/* .nav-links {
  display: inline-block;
} */

a {
  text-decoration: none !important;
}

