#create-form{
  background-color: #f5f1e5;
  margin-top: 16vh;
  padding-top: 12vh;
  margin-bottom: 8vh;
}
#seed {
  font-family: 'Bungee Shade';
  font-size: 38px;
  letter-spacing: 2px;
  color: #44714A;
}
.post-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

#caption {
  background-color: #f5f1e5;
  border-radius: 12px;
  width: 35vw;
  height: 18vh;
  margin-bottom: 2rem;
}
#caption::placeholder{
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
}

#post-picture{
  background-color: #f5f1e5;
  border-radius: 12px;
  width: 25vw;
  height: 5vh;
  margin-bottom: 2rem;
}
#post-picture::placeholder{
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
}
#publish{
  padding-right: 1rem;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 1024px){
  #caption{
    width: 50vw;
    height: 12vh;
  }
  #post-picture{
    width: 40vw;
    height: 5vh;
  }
}
@media only screen and (max-width: 414px){
  #seed{
    font-size: 22px;
  }
  #caption{
    width: 55vw;
    height: 8vh;
  }
  #post-picture {
    width: 55vw;
  }
}