@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

#login-form{
  background-color: #f5f1e5;
  height: 100%;
  padding-top: 20vh;
  padding-bottom: 45vh;
}
.login-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#login-title{
  font-family: 'Bungee Shade';
  font-size: 38px;
  letter-spacing: 2px;
  color: #44714A;
}
#email-box{
  background-color: #f5f1e5;
  border-radius: 5px;
  border: 3px solid #ddd9ca;
  width: 15vw;
  height: 5vh;
}
#password-box{
  background-color: #f5f1e5;
  border-radius: 5px;
  border: 3px solid #ddd9ca;
  width: 15vw;
  height: 5vh;
  margin-bottom: 1rem;
}
button#confirm-login{
  font-family: 'Anonymous Pro', monospace;
  font-size: 22px;
  letter-spacing: 1.5px;
  color: #A3C4A7;
  width: 12rem;
  background-color:#44714A;
  box-shadow: 6.5px -2.5px 3px 2px #A3C4A7;
  padding-right: 1rem;
  margin-bottom: 1.2rem;
}
#create{
  font-family: 'Anonymous Pro', monospace;
  color: black;
}
@media only screen and (max-width: 1024px){
  #login-form{
    padding-top: 30vh;
    padding-bottom: 37vh;
  }
  #email-box{
    width: 20vw;
    height: 3vh;
    margin-bottom: 2rem;
  }
  #password-box{
    width: 20vw;
    height: 3vh;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 414px){
  #login-form{
    padding-top: 25vh;
    padding-bottom: 35vh;
  }
  #login-title{
    font-size: 23px;
  }
  #email-box {
    width: 50vw;
    height: 3vh;
    margin-bottom: 2rem;
  }
  #password-box {
    width: 50vw;
    height: 3vh;
    margin-bottom: 2rem;
  }
  button#confirm-login{
    font-size: 18px;
    width: 8rem;
    padding-right: 0.5rem;
  }
}